{% extends "web/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    {{ form|crispy }}


    <button type="submit"  class="btn">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="row"><a href="{% url "web:reset" %}" class="btn">Forgot my password</a></div>
{% endblock %}