{% extends "web/base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>
            Welcome to SongGear!
        </h1>
        <p>
            {% if user.is_anonymous %}
                It appears you are not logged in. It's a shame, because if
                you were you could have learned a new song today :)
            {% else %}
                SongGear is a place where you, {{ user.firstname }} can
                learn to play your favorite songs! This is a user driven
                site that allows anyone to add a song. Once added, you can
                include chords, tabs, your favorite video lesson, etc. and
                learn your favorite songs from top to bottom!
            {% endif %}
        </p>
    </div>

{% endblock content %}
