{% extends "web/base.html" %}
{% load embed_video_tags %}
{% block content %}
    <div class="row">

    </div>
     <div class="jumbotron">
        <h1>
            {{ song.name }} by {{ song.artist }}
            <a class="btn btn-default btn-lg pull-right" href="{% url 'web:edit' pk=song.id %}">Edit</a>
        </h1>
     </div>
    <div class="row">
        <div class="col-md-4">
            <p>Video:</p>
            {% if song.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    {% video song.video 'small' %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <p>Tabs (text):</p>
        <pre>{{ song.tabs_text }}</pre>
    </div>
    <div class="row">
        <p>Chords (text):</p>
        <pre>{{ song.chords_text }}</pre>
    </div>


{% endblock content %}