{% extends "web/base.html" %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="jumbotron text-center">
        <h2>
            {{ song.name }} by {{ song.artist }}
        </h2>

        <div class="btn-group-justified" role="group">
            {% if song.create_user == request.user or song.public %}
                <a class="btn btn-lg" href="{% url 'web:edit' pk=song.id %}">Edit</a>
            {% endif %}
            {% if song.create_user != request.user %}
                <a class="btn btn-lg" href="{% url 'web:copy' pk=song.id %}">Copy</a>
            {% endif %}
        </div>

     </div>
    <div class="row">
        <div class="col-md-6">
            <p>Video:</p>
            {% if song.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    {% video song.video 'small' %}
                </div>
            {% else %}
                <p>There is no link for the lesson video. Add one!</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <p>Lesson video:</p>
            {% if song.lesson_video %}
                <div class="embed-responsive embed-responsive-16by9">
                    {% video song.lesson_video 'small' %}
                </div>
            {% else %}
                <p>There is no link for the lesson video. Add one!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if song.chords_url %}
                <p>Link to chords: <a href="{{ song.chords_url }}" target="_blank">{{ song.chords_url }}</a></p>
            {% endif %}
        </div>
        <div class="col-md-6">
             {% if song.tabs_url %}
                <p>Link to tabs: <a href="{{ song.tabs_url }}" target="_blank">{{ song.tabs_url }}</a></p>
            {% endif %}
        </div>
    </div>

    <span>
        <p>Tabs (text):</p>
        <pre class="pre-scrollable">{{ song.tabs_text }}</pre>
    </span>
    <span>
        <p>Chords (text):</p>
        <pre class="pre-scrollable">{{ song.chords_text }}</pre>
    </span>

    <span>
        {% if song.comment_set.all %}
            <h2>Comments</h2>

                {% for comment in song.comment_set.all %}

            <div class="comments col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comment.create_user.username }}</strong>
                        <span class="text-muted">commented {{ comment.create_date }}</span>
                        {% if comment.create_user == request.user  %}
                            <a href="{% url 'web:delete_comment' song.id comment.id %}"><span class="pull-right glyphicon glyphicon-remove"></span></a>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {{ comment.comment }}
                    </div>
                </div>
            </div>

                {% endfor %}

        {% endif %}

    </span>
    <span>



        <h2>Add Comment</h2>

         <form action="{% url 'web:detail' song.id %}" method="post">
             {% csrf_token %}
             {{ form | crispy }}

             <button type="submit"  class="btn ">Submit</button>
         </form>

    </span>


{% endblock content %}